h1 Editing intellect_property

== render 'form'

= link_to 'Show', @intellect_property
'|
= link_to 'Back', uni_path(@parent, "intellect_properties", "intellect_properties_path", @intellect_property)

