p#notice = notice

<% attributes.each do |attribute| -%>
p
   strong <%= attribute.human_name %>:&nbsp;
<%- if attribute.reference? -%>
   = uni_info @<%= singular_table_name %>, "<%= attribute.name %>"
<%- else -%>
   = beauty_string @<%= singular_table_name %>, "<%= attribute.name %>"
<%- end -%>
<% end -%>

= link_to 'Edit', uni_path(@parent, "<%= plural_table_name %>", "edit_<%= singular_table_name %>_path", @<%= singular_table_name %>)
'|
= link_to 'Back', uni_path(@parent, "<%= plural_table_name %>", "<%= index_helper %>_path", @<%= singular_table_name %>)
