<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row nav-container">
            <ul class="nav nav-pills nav-justified">
                {{#link-to "main" tagName="li" href=false role="presentation"}}
                <a {{bind-attr href="view.href"}}>
                Личный кабинет
                </a>
                {{/link-to}}
            </ul>
        </div>
        <div class="row">
            {{outlet}}
        </div>
    </div>
</div>