<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Имя ресурса</th>
        <th>Значение</th>
        <th>Ед. изм.</th>
    </tr>
    </thead>
    <tbody>
    {{#each model}}
    <tr>
        <th scope="row">{{idx}}</th>
        <td>{{owner.name}}Оборудование</td>
        <td>{{value}}</td>
        <td>{{resource_type.name}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>