<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>ФИО</th>
    </tr>
    </thead>
    <tbody>
    {{#each model}}
    <tr>
        <th scope="row">{{idx}}</th>
        <td>{{name}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>